.header {
	background: #000;

    .header-xs {
        width: 100%;

        @media all and (max-width: $screen-small) {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    .navicon {
        display: none;
        color: white;

        @media screen and (max-width: $screen-small) {
            display: block;
            font-size: 2rem;
            margin: $baseline/2 0 0 $baseline;
            cursor: pointer;
        }
    }
    
    h1 {
        text-indent: -500em;
        height: 100px;
        width: 100%;
        max-width: 800px;
        background: url(../img/banner.jpg) no-repeat;
        margin: 0 0 0 10px;
        padding:0;

        @media all and (max-width: $screen-small) {
            background:none;
            height: inherit;
            text-indent: 0;
            color:white;
            font-size: 2.6rem;
            line-height: 44px;
        }
    }

    #login-block {
        background-color: #313131;
        color: #fff;

        form {
            margin: 0;
            padding: $baseline;

            p {
                margin: $baseline/2 0 0;
            }

            a {
                color: #fff;
                border-bottom: 1px solid #fff;
                text-decoration: none;
            }
        }
    
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding: 0;

            @media screen and (max-width: $screen-small) {
                flex-direction: column;
            }
    
            li {
                margin: 0 $baseline 0 0;

                @media screen and (max-width: $screen-small) {
                    margin: 0 0 $baseline/2 0;
                }
                label {
                    display: block;
                    padding-bottom: 2px;
                    font-size: 1.4rem;
                }
    
                input {
                    color: #333;
                    height: 33px;
                    border-radius: 2px;
                    border: 0;
                    font-size: 1.4rem;
                    padding: 0 $baseline/2;

                    @media screen and (max-width: $screen-small) {
                        width: 100%;
                    }
                }
            }
            .form-actions {
                display: flex;
                flex-direction: row;
                margin-top: 22px;
                align-items: flex-end;
        
                @media screen and (max-width: $screen-small) {
                    // justify-content: start;
                    margin-top: $baseline/2;
                }
        
                input {
                    width: auto;
                    color: #000;
                    margin-right: $baseline/2;
                    cursor: pointer;
                    transition: all 0.2s ease;
                    padding: 0 $baseline;

                    &:hover {
                        background: #ccc;
                    }
        
                    &.forgot-password {
                        // padding:2px;
                        // margin-bottom: 2px;
                        // font-family: Verdana, Arial, sans-serif;
                        font-size: 1.4rem;
                        background-color: #313131;
                        border: none;
                        color: #fff;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }                
            }
        }
    }
}

// For logged in users

.header.loggedin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media all and (max-width: $screen-small) {
        flex-direction: column;
        justify-content: flex-start;
    }

    #login-block {
        background-color: #000;
        color:#ffffff;
        font-size: 1rem;
        margin: 0;

        @media all and (max-width: $screen-small) {
            background-color: #313131;
        }

        .user-data {
            padding: $baseline/3 $baseline;

            p {
                margin-top: 0;
                margin-bottom: $baseline/2;
                font-size: 1.4rem;

                input {
                    margin-left: $baseline/2;
                }
            }

            ul {
                @media all and (max-width: $screen-small) {
                    display: flex;
                    flex-direction: row;      
                }

                @media all and (max-width: $screen-xs) {
                    justify-content: space-between;
                }

                
                li {
                    font-size: 1.6rem;
                    color:#FFFF80;
                    white-space: nowrap;
                    padding-right: $baseline*2;
                    margin-right: 0;

                    &:last-child {
                        padding-right: 0;
                    }

                    @media all and (max-width: $screen-xs) {
                        padding-right: $baseline/2;
                        font-size: 1.4rem;
                    }
    
                    span {
                        color: white;
                    }
    
                    a.normal {
                        color:#FFFF80;
                    }
    
                    strong {
                        display: block;
                        font-size: 1rem;
                        color: #fff;
                    }
                }
            }            
        }
    }
}

