h3 {
	text-decoration: none;
	font-weight: bold;
	margin-top: 0px        
}

h4 {
    font-weight: bold;
    font-size: 1.6rem;
    margin: $baseline*2 0 $baseline;

    &:first-of-type {
        margin-top: 0;
    }
}